<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>kitchen.servlets.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>kitchen.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>kitchen.servlets.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservar</servlet-name>
        <servlet-class>kitchen.servlets.Reservar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarPlatillo</servlet-name>
        <servlet-class>kitchen.servlets.IngresarPlatillo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarReservacion</servlet-name>
        <servlet-class>kitchen.servlets.EliminarReservacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservar</servlet-name>
        <url-pattern>/reservar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarPlatillo</servlet-name>
        <url-pattern>/ingresarPlatillo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarReservacion</servlet-name>
        <url-pattern>/eliminarReservacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
